<header id="top-bar" class="top-bar top-bar--s2 fixed-top" data-nav-fixed="true" data-nav-anchor="false">
  <!-- fixed-top -->
  <!-- class "compensate-for-scrollbar" from fancybox.js, use if data-fixed="true" -->
  <div class="top-bar__line-contacts">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-auto">
          <div class="top-bar__contacts">
            <ul>
              <li>
                <a
                  href="https://www.google.com/maps/place/Mega+Vending+SARL/@33.9639446,35.6128786,17z/am=t/data=!4m12!1m6!3m5!1s0x151f3f7bd63c9ed9:0xd8a7b8ca783c4215!2sMega+Vending+SARL!8m2!3d33.9639446!4d35.6150673!3m4!1s0x151f3f7bd63c9ed9:0xd8a7b8ca783c4215!8m2!3d33.9639446!4d35.6150673">14
                  Str. Adonis - Zouk Mosbeh, Kesserwan, Lebanon</a>
              </li>

              <li>
                <a href="tel:+96109244985">+961 09 244 985</a>
              </li>

              <li>
                <a href="tel:+96176600392">+961 76 600 392</a>
              </li>

              <li>
                <a href="mailto:dajami@vending-lb.com">dajami@vending-lb.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-auto">
          <div class="row">
            <div class="col-auto">
              <div class="top-bar__socials">
                <!-- start social buttons -->
                <div class="s-btns s-btns--gray">
                  <ul class="d-flex flex-row flex-wrap justify-content-center align-items-center">
                    <li><a class="f" href="https://www.facebook.com/Megavendinglb/"><i
                          class="fontello-facebook"></i></a></li>
                    <li><a class="t" href="https://www.linkedin.com/in/megavending/"><i
                          class="fontello-linkedin"></i></a></li>
                    <li><a class="y" href="https://www.youtube.com/channel/UCqOoJn4-qmIqH266snq2z9A"><i
                          class="fontello-youtube-play"></i></a></li>
                    <li><a class="i" href="https://www.instagram.com/megavendingsarl/"><i
                          class="fontello-instagram"></i></a></li>
                  </ul>
                </div>
                <!-- end social buttons -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-bar__line-menu compensate-for-scrollbar">

    <a class="top-bar__logo site-logo" routerLink="home" href="index.html">
      <img class="img-fluid logo" src="img/logo.svg" alt="Mega Vending logo" />
    </a>

    <a id="top-bar__navigation-toggler" class="top-bar__navigation-toggler navbar-toggler"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false">
      <span></span>
    </a>

    <div class="top-bar__collapse">
      <div>
        <nav id="top-bar__navigation" class="top-bar__navigation" role="navigation">
          <ul>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="home">Home</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="about">About Us</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="products">Products</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="contacts">Contacts</a>
            </li>

          </ul>
        </nav>

        <div class="top-bar__action">
          <a class="custom-btn" routerLink="contacts" fragment="contact-form">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" [collapse]=isCollapsed>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="about">About Us</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="products">Products</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<div id="fix-for-navbar-fixed-top-spacing">&nbsp;</div>