<header id="top-bar" class="top-bar top-bar--s2">
  <!-- fixed-top -->
  <!-- data-nav-fixed="true" data-nav-anchor="false" -->

  <!-- class "compensate-for-scrollbar" from fancybox.js, use if data-fixed="true" -->

  <div class="top-bar__line-menu compensate-for-scrollbar">

    <a class="top-bar__logo site-logo" routerLink="home" href="index.html">
      <img class="img-fluid logo" src="img/logo.svg" alt="Mega Vending logo" />
    </a>

    <a id="top-bar__navigation-toggler" class="top-bar__navigation-toggler navbar-toggler"
      (click)="isCollapsed = !isCollapsed" aria-expanded="false">
      <span></span>
    </a>

    <div class="top-bar__collapse">
      <div>
        <nav id="top-bar__navigation" class="top-bar__navigation" role="navigation">
          <ul>
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="home">Home</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="about">About Us</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="products">Products</a>
            </li>

            <li routerLinkActive="active">
              <a class="nav-link" routerLink="contacts">Contacts</a>
            </li>

          </ul>
        </nav>

        <div class="top-bar__action">
          <a class="custom-btn" routerLink="contacts" fragment="contact-form">Get in Touch</a>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" [collapse]=isCollapsed>
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="home">Home</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="about">About Us</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="products">Products</a>
          </li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="contacts">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<!-- <div id="fix-for-navbar-fixed-top-spacing">&nbsp;</div> -->