<div id="hero" class="hero jarallax" data-speed="0.6" data-img-position="50% 48%"
  style="background-image: url(./img/hero_img/1.jpg);background-position: 15% center;background-color: #2d69b9">

  <div class="hero__inner">
    <div class="container">
      <div class="row">
        <div class="col-11 col-sm-12">
          <h4 class="hero__subtitle">Mega Vending</h4>
          <h1 class="hero__title">Contacts</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<!-- start main -->
<main role="main">

  <!-- start section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- start company contacts -->
          <div class="company-contacts">
            <div class="__inner">
              <div class="row">
                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-location-outline"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Location</h4>

                        <div>
                          14St. Adonis Zouk Mosbeh,<br>Keserouan, Lebanon
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-phone"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Phone</h4>

                        <div>
                          +961 766 00 392<br>
                          +961 76 600 392
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-envelope"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Email</h4>

                        <div>
                          <a href="mailto:info@vendgo.co">info@vendgo.co</a><br>
                          <a href="mailto:support@vendgo.co">support@vendgo.co</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-share"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Social</h4>

                        <!-- start social buttons -->
                        <div class="s-btns s-btns--gray">
                          <ul class="d-flex flex-row flex-wrap align-items-center">
                            <li><a class="f" href="https://www.facebook.com/Megavendinglb/"><i
                                  class="fontello-facebook"></i></a></li>
                            <li><a class="t" href="https://www.linkedin.com/in/megavending/"><i
                                  class="fontello-linkedin"></i></a></li>
                            <li><a class="y" href="https://www.youtube.com/channel/UCqOoJn4-qmIqH266snq2z9A"><i
                                  class="fontello-youtube-play"></i></a></li>
                            <li><a class="i" href="https://www.instagram.com/megavendingsarl/"><i
                                  class="fontello-instagram"></i></a></li>
                          </ul>
                        </div>
                        <!-- end social buttons -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->
              </div>
            </div>
          </div>
          <!-- end company contacts -->

        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section" id="contact-form">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="section-heading section-heading--center">
            <h2 class="__title">Have any Query ?</h2>
          </div>

          <div class="spacer py-6"></div>

          <form class="js-contact-form" (ngSubmit)="onSubmit()" [formGroup]="newRequestForm">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Full name *" name="name" type="text" formControlName="fullName"
                    [ngClass]="{
                    'is-valid': fullNameControl.valid && isSubmit,
                    'is-invalid': fullNameControl.invalid}" />
                  <div class="invalid-feedback" *ngIf="fullNameControl.errors && fullNameControl.touched">
                    <span *ngIf="fullNameControl.errors.required">
                      Please enter your name.
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Email *" ngModel [email]="true" name="email" type="email"
                    formControlName="email" [ngClass]="{
                    'is-valid': emailControl.valid && isSubmit,
                    'is-invalid': emailControl.invalid}" />
                  <div class="invalid-feedback" *ngIf="emailControl.errors && emailControl.touched">
                    <span *ngIf="emailControl.invalid">
                      Please enter a valid email.
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Phone" name="phone" type="tel" formControlName="phone" />
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Subject *" name="subject" type="text" formControlName="subject"
                    [ngClass]="{
                  'is-valid': subjectControl.valid && isSubmit,
                  'is-invalid': subjectControl.invalid}" />
                  <div class="invalid-feedback" *ngIf="subjectControl.errors && subjectControl.touched">
                    <span *ngIf="subjectControl.errors.required">
                      Subject is a mandatory field.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <label class="input-wrp">
              <textarea class="textfield" placeholder="Message" name="message" formControlName="message"></textarea>
            </label>

            <button class="custom-btn custom-btn--big custom-btn--s3" type="submit" role="button">Send
              Message</button>

            <div *ngIf="isSubmit" class="form__note">Thank you for your request! We'll get back to you soon.</div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</main>
<!-- end main -->