.contacts a {
  text-decoration: none;
}

.contacts a:hover, .contacts a:focus {
  text-decoration: underline;
}

.valid {
  border-color: #28a745;
}

.invalid {
  border-color: #dc3545;
}

.invalid-message {
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}