<div id="hero" class="hero jarallax" data-speed="0.6" data-img-position="50% 48%"
  style="background-image: url(./assets/img/hero_img/1.jpg);background-position: 15% center;background-color: #2d69b9">

  <div class="hero__inner">
    <div class="container">
      <div class="row">
        <div class="col-11 col-sm-12">
          <h4 class="hero__subtitle">Mega Vending</h4>
          <h1 class="hero__title">Contacts</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<!-- start main -->
<main role="main">

  <!-- start section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- start company contacts -->
          <div class="company-contacts">
            <div class="__inner">
              <div class="row">
                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-location-outline"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Location</h4>

                        <div class="contacts">
                          <a
                            href="https://www.google.com/maps/place/Mega+Vending+SARL/@33.9639446,35.6128786,17z/am=t/data=!4m12!1m6!3m5!1s0x151f3f7bd63c9ed9:0xd8a7b8ca783c4215!2sMega+Vending+SARL!8m2!3d33.9639446!4d35.6150673!3m4!1s0x151f3f7bd63c9ed9:0xd8a7b8ca783c4215!8m2!3d33.9639446!4d35.6150673">14
                            Str. Adonis - Zouk Mosbeh, <br> Kesserwan, Lebanon</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-phone"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Phone</h4>

                        <div class="contacts">
                          <a href="tel:+96109244985">+961 09 244 985</a><br>
                          <a href="tel:+96176600392">+961 76 600 392</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-envelope"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Email</h4>

                        <div class="contacts">
                          <a href="mailto:dajami@vending-lb.com">dajami@vending-lb.com</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->

                <!-- start item -->
                <div class="col-12 col-sm-6 col-lg-3">
                  <div class="__item">
                    <div class="d-table">
                      <div class="d-table-cell align-top">
                        <i class="__ico fontello-share"></i>
                      </div>

                      <div class="d-table-cell align-top">
                        <h4 class="__title">Social</h4>

                        <!-- start social buttons -->
                        <div class="s-btns s-btns--gray">
                          <ul class="d-flex flex-row flex-wrap align-items-center">
                            <li><a class="f" href="https://www.facebook.com/Megavendinglb/"><i
                                  class="fontello-facebook"></i></a></li>
                            <li><a class="t" href="https://www.linkedin.com/in/megavending/"><i
                                  class="fontello-linkedin"></i></a></li>
                            <li><a class="y" href="https://www.youtube.com/channel/UCqOoJn4-qmIqH266snq2z9A"><i
                                  class="fontello-youtube-play"></i></a></li>
                            <li><a class="i" href="https://www.instagram.com/megavendingsarl/"><i
                                  class="fontello-instagram"></i></a></li>
                          </ul>
                        </div>
                        <!-- end social buttons -->
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end item -->
              </div>
            </div>
          </div>
          <!-- end company contacts -->

        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section" id="contact-form">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="section-heading section-heading--center">
            <h2 class="__title">Have any Query ?</h2>
          </div>

          <div class="spacer py-6"></div>

          <form class="js-contact-form" (ngSubmit)="onSubmit()" [formGroup]="newRequestForm">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Full name *" name="name" type="text" formControlName="fullName"
                    [ngClass]="{
                    'valid': fullNameControl.valid && isSubmit,
                    'invalid': fullNameControl.invalid && fullNameControl.touched}" />
                  <div class="invalid-message" *ngIf="fullNameControl.errors && fullNameControl.touched">
                    <span *ngIf="fullNameControl.errors.required">
                      Please enter your name.
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Email *" ngModel [email]="true" name="email" type="email"
                    formControlName="email" [ngClass]="{
                    'valid': emailControl.valid && isSubmit,
                    'invalid': emailControl.invalid && emailControl.touched}" />
                  <div class="invalid-message" *ngIf="emailControl.errors && emailControl.touched">
                    <span *ngIf="emailControl.errors.required">
                      Please enter your email.
                    </span>
                    <span *ngIf="emailControl.invalid && !emailControl.errors.required">
                      Invalid email. Please check your input.
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Phone" name="phone" [ngModel]="phone" [pattern]="phonePattern"
                    type="tel" formControlName="phone" />
                  <div class="invalid-message" *ngIf="phoneControl.errors && phoneControl.touched">
                    <span *ngIf="phoneControl.errors.pattern && phoneControl.touched">
                      Please enter a valid phone number.
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="input-wrp">
                  <input class="textfield" placeholder="Subject *" name="subject" type="text" formControlName="subject"
                    [ngClass]="{
                  'valid': subjectControl.valid && isSubmit,
                  'invalid': subjectControl.invalid && subjectControl.touched}" />
                  <div class="invalid-message" *ngIf="subjectControl.errors && subjectControl.touched">
                    <span *ngIf="subjectControl.errors.required">
                      Subject is a mandatory field.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <label class="input-wrp">
              <textarea class="textfield" placeholder="Message" name="message" formControlName="message"></textarea>
            </label>

            <button class="custom-btn custom-btn--big custom-btn--s3" type="submit" role="button">Send
              Message</button>

            <div *ngIf="isSubmit" class="form__note">Thank you for your request! We'll get back to you soon.</div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</main>
<!-- end main -->