<div id="hero" class="hero jarallax" data-speed="0.6" data-img-position="50% 48%"
  style="background-image: url(img/hero_img/1.jpg);background-position: 15% center;background-color: #2d69b9">

  <div class="hero__inner">
    <div class="container">
      <div class="row">
        <div class="col-11 col-sm-12">
          <h4 class="hero__subtitle">Mega Vending</h4>
          <h1 class="hero__title">About Company</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<!-- start main -->
<main role="main">

  <!-- start section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-8 col-md-7 col-lg-4">
          <div class="section-heading">
            <h5 class="__subtitle">About Mega Vending</h5>

            <h2 class="__title">Unbeatable Vending Quality <span>and Customer Service</span></h2>
          </div>

          <div class="spacer py-4"></div>
        </div>

        <div class="col-12 col-lg-8">

          <div class="spacer py-4 d-lg-none"></div>

          <div class="content-container">
            <p>
              <strong>Mega Vending is a family-owned and operated business that was founded in 1997 by experienced
                Vending
                Machine & Playground operators.</strong>
            </p>

            <p>
              Mega Vending has developed a reputation for providing innovative products and generating significant
              additional income for customers whilst improving the overall F&B and shopping experience.
            </p>

            <p>
              Due to the size of our product portfolio, we can provide our customers with an unparalleled choice of
              retail entertainment equipment.
            </p>
          </div>

        </div>
      </div>

      <div class="spacer py-4 py-md-6 py-lg-8"></div>

      <div class="row">
        <div class="col-12 col-lg-6">

          <div class="content-container">
            <p>
              Mega Vending distributes and operates vending machines & playground equipment manufactured by Beaver
              Machine Corp., Jolly Roger, Unis and ITL, American changer Corp, as well as the confectionery manufactured
              by Oak Leaf & Dubble Bubble.
            </p>

            <p>
              We also specialize in Surprise toy manufacture and product sourcing for our customers who have specific
              needs for capsule toys, Bouncy Balls, and other fun novelty items.
            </p>

            <p>
              Learn more about Mega Vending and what we offer by giving us a call. We’ll be happy to assist you with any
              information regarding a specific product or service.
            </p>

          </div>
        </div>

        <div class="about-img text-right col-12 col-lg-6">
          <img width="719" height="741" src="img/img/about_img.png" alt="demo">
        </div>
      </div>
    </div>
  </section>

  <!-- start section -->
  <section class="section section--no-pt section--no-pb">
    <div class="container">
      <div class="row align-items-end no-gutters">
        <div class="col">
          <div class="section-heading section-heading--left">
            <h5 class="__subtitle">Instagram</h5>

            <h2 class="__title"><span># Mega Vending</span></h2>
          </div>
        </div>

        <div class="col-auto">
          <div class="h2"><i class="fontello-instagram"></i></div>
        </div>
      </div>

      <div class="spacer py-5"></div>
    </div>

    <!-- start instafeed -->
    <div class="instagram-feed">
      <div class="elfsight-app-fdeac856-9cbf-48a5-ba69-c502b8e73d00"></div>
    </div>
    <!-- end instafeed -->
  </section>
  <!-- end section -->
</main>
<!-- end main -->