.ngx-pagination li, .ngx-pagination button {
  color: #f95a3f !important;
}

li.list__item {
  margin-bottom: 15px;
}

li.active a {
  color: #f95a3f;
}

.preloader {
  justify-content: center;
  align-items: center;
}

.price-range-slider {
  padding-top: 20px;
}