<div id="hero" class="hero jarallax" data-speed="0.6" data-img-position="50% 50%"
  style="background-image: url(img/hero_img/2.jpg);background-color: #f18226">

  <div class="hero__inner">
    <div class="container">
      <div class="row">
        <div class="col-11 col-sm-12">
          <h4 class="hero__subtitle">Mega Vending</h4>
          <h1 class="hero__title">Shop Catalog</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main">

  <!-- start section -->
  <section class="section section--gray-bg">
    <div class="container">
      <!-- start goods catalog -->
      <div class="goods-catalog">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">

            <div class="__bg"></div>

            <!-- start sidebar -->
            <aside class="sidebar goods-filter">
              <span class="goods-filter-btn-close js-toggle-filter"><i class="fontello-cancel"></i></span>

              <div class="goods-filter__inner">
                <form action="#">
                  <!-- start widget -->
                  <div class="widget widget--categories">
                    <h4 class="widget-title">Category</h4>

                    <div *ngIf="productCategoryList">
                      <ul class="list" *ngFor="let productCategory of productCategoryList">
                        <li class="list__item" routerLinkActive="active">
                          <a class="list__item__link" routerLink="../products" [queryParams]="{cat: productCategory.id}"
                            queryParamsHandling="merge">{{productCategory.name}}</a>
                        </li>
                      </ul>
                      <ul class="list">
                        <li class="list__item"><a class="list__item__link" routerLink="../products"
                            [queryParams]="{cat: ''}" queryParamsHandling="merge">All categories</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- end widget -->

                  <!-- start widget -->
                  <div class="widget widget--price">
                    <h4 class="widget-title">Price</h4>

                    <div>
                      <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                        routerLink="../products" [queryParams]="{from: minValue, to: maxValue}"
                        queryParamsHandling="merge">
                        <!--  -->
                      </ngx-slider>
                    </div>

                  </div>
                  <!-- end widget -->

                </form>
              </div>
            </aside>
            <!-- end sidebar -->

          </div>

          <div class="col-12 col-md-8 col-lg-9">

            <!-- start goods -->
            <div class="goods">
              <div class="__inner">
                <div class="row preloader" *ngIf="loading && !productList">
                  <div class="col-12 col-sm-6 col-lg-4">
                    <img src="img/preloader.svg" alt="Preloader">
                  </div>
                </div>
                <div class="row" *ngIf="productList">
                  <div class="col-12 col-sm-6 col-lg-4"
                    *ngFor="let product of productList | productCategory: category | price: minValue:maxValue | paginate: { itemsPerPage: 8, currentPage: p }">
                    <div class="__item">
                      <figure class="__image __image--shadow __image--bg-white">
                        <img [src]="imageUrl+'/'+product.image" alt="{{product.name}} photo" />

                        <div class="__btn">
                          <a class="custom-btn custom-btn--medium custom-btn--s3 wide"
                            [routerLink]="product.name+'/'+product.id">More
                            Info</a>
                        </div>
                      </figure>

                      <div class="__content">
                        <div class="product-price">
                          <span class="product-price__item product-price__item--new">{{product.price}}$</span>
                        </div>

                        <h4 class="__title"><a [routerLink]="product.name+'/'+product.id">{{product.name}}</a></h4>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end goods -->

            <div class="spacer py-5 py-lg-7"></div>

            <!-- start pagination -->
            <pagination-controls (pageChange)="p = $event"
              class="pagination justify-content-center justify-content-sm-end"></pagination-controls>
            <!-- <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center justify-content-sm-end">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
              </ul>
            </nav> -->
            <!-- end pagination -->

          </div>
        </div>
      </div>
      <!-- end goods catalog -->
    </div>
  </section>
  <!-- end section -->
</main>
<!-- end main -->