.product-list {
  margin-top: 30px;
}

@media only screen and (min-width: 1300px) {
  .start-screen--style-2 {
    margin-top: 0;
  }
}

.about-img {
  background: url('../../../assets/img/about-us.png') center no-repeat;
  background-size: contain;
  min-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dots {
  padding-bottom: 35px;
}

section.gallery {
  margin-bottom: 70px;
}

.col-12, .col-sm-6, .col-lg-4, .col-xl-3 {
  padding-left: 0;
  padding-right: 0;
}