<!-- start start screen -->
<div id="start-screen" class="start-screen start-screen--style-2">
  <ngx-slick-carousel class="carousel start-screen__slider" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let homeSlide of homeSlidesList"
      class="slide start-screen__slide start-screen__slide--1 align-items-center"
      [class.text-center]="homeSlide.id == '1'">

      <div class="__bg" [ngStyle]="{'background-image': 'url('+ imageUrl +'' + homeSlide.image + ')'}">
      </div>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-10">
            <div class="__title text-white">{{homeSlide.heading}}</div>

            <div class="spacer py-2"></div>

            <p *ngIf="homeSlide.subHeading" class="text-white" style="margin: auto;max-width: 670px">
              {{homeSlide.subHeading}}
            </p>

            <div class="spacer py-3"></div>
          </div>
        </div>
      </div>
    </div>

  </ngx-slick-carousel>

  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
</div>
<!-- end start screen -->

<!-- start main -->
<main role="main">

  <!-- start section -->
  <section class="section section--about">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="section-heading section-heading--left">
            <h5 class="__subtitle">About</h5>

            <h2 class="__title">Unbeatable Vending Quality <br> <span>and Customer Service</span></h2>
          </div>

          <div class="spacer py-3"></div>

          <div class="content-container">

            <p>
              Mega Vending is a family-owned and operated business that was founded in 1997 by experienced Vending
              Machine & Playground operators.
            </p>

            <p>
              Mega Vending has developed a reputation for providing innovative products and generating significant
              additional income for customers whilst improving the overall F&B and shopping experience.
            </p>

            <p>
              Due to the size of our product portfolio, we can provide our customers with an unparalleled choice of
              retail entertainment equipment.
            </p>

            <p>
              Mega Vending distributes and operates vending machines & playground equipment manufactured by Beaver
              Machine Corp., Jolly Roger, Unis and ITL, American changer Corp, as well as the confectionery manufactured
              by Oak Leaf & Dubble Bubble.
            </p>

            <div class="spacer"></div>

            <p>
              <a class="custom-btn custom-btn--big custom-btn--s1" routerLink="/about">More About</a>
            </p>

            <div class="spacer py-2"></div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="spacer py-4 py-md-6 d-lg-none"></div>

          <div class="about-img text-right">
            <img width="719" height="741" src="img/about_img.png" alt="demo">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section section--bg-img jarallax" data-speed="0.3" data-img-position="50% 50%"
    style="background-image: url(img/bg_8.jpg);background-color: #26282b;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading section-heading--center section-heading--white">
            <h5 class="__subtitle">Products</h5>

            <h2 class="__title">Mega Vending <span>Products</span></h2>

            <p>
              Flagfin Atlantic saury, stonecat beachsalmon, silver dollar South American<br>Lungfish. Reef triggerfish
              dogteeth
            </p>
          </div>

          <div class="spacer py-6"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section section--no-pt">
    <div class="container">
      <div class="row">
        <div class="col-12 product-list">

          <!-- start icon list -->
          <div class="icon-list icon-list--s1">
            <div class="__inner">
              <div class="row" *ngIf="productCategoryList">
                <!-- start item -->
                <div class="col-6 col-md-4 col-lg-3" *ngFor="let productCategory of productCategoryList">
                  <div class="__item">
                    <figure class="__image">
                      <img width="113" height="195" [src]="imageUrl+'/'+productCategory.image"
                        alt="Product Category Photo" />
                    </figure>

                    <h4><a routerLink="/products"
                        [queryParams]="{productCategory:'category'}">{{productCategory.name}}</a>
                    </h4>
                  </div>
                </div>
                <!-- end item -->
              </div>
            </div>
          </div>
          <!-- end icon list -->

          <div class="spacer py-5 py-md-8"></div>

        </div>

        <div class="col-12 col-md-6">
          <div class="content-container">
            <blockquote class="blockquot" style="font-size:inherit;line-height:1.6;">
              <p>
                <strong>Zebra tilapia ocean perch ocean sunfish bichir. Monkfish eel soapfish sabertooth fish whiptail
                  gulper long-finned char hussar.</strong> Flagfin Atlantic saury, stonecat beachsalmon, silver dollar
                South American Lungfish. Reef triggerfish dogteeth tetra barreleye
              </p>
            </blockquote>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="spacer py-3 d-md-none"></div>

          <div class="content-container">
            <p>
              Pacific hake sea devil New Zealand smelt grunt Redfin perch rock beauty snake mudhead: boafish rock bass
              pompano dolphinfish. Pineconefish ribbonbearer climbing perch tenpounder . Flagfin Atlantic saury,
              stonecat beachsalmon, silver dollar South American Lungfish.
            </p>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="spacer py-4"></div>

          <div class="content-container">
            <p>
              <a class="custom-btn custom-btn--big custom-btn--s1" routerLink="/products">More Products</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section section--no-pb">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-5">

          <div class="section-heading section-heading--left">
            <h5 class="__subtitle">Gallery</h5>

            <h2 class="__title">Gallery of <span>Our Products</span></h2>

            <p>
              Flagfin Atlantic saury, stonecat beachsalmon, silver dollar South American Lungfish. Reef triggerfish
              dogteeth
            </p>
          </div>

          <div class="spacer py-6"></div>

        </div>
      </div>
    </div>

    <isotope-grid id="gallery-grid-1" class="gallery gallery--grid">
      <div class="col-12 col-sm-1  js-isotope__sizer"></div>
      <!-- start item -->
      <isotope-item class="col-12 col-sm-6 col-lg-4 col-xl-3 js-isotope__item category-2"
        *ngFor="let gallery of galleryList">
        <!-- [ngClass]="{
          'col-sm-6 col-lg-4 col-xl-3 category-2': productCategory.id == 1,
          'col-sm-6 col-lg-4 col-xl-3 category-1': productCategory.id == 2,
          'col-sm-6 col-lg-4 col-xl-6 category-3': productCategory.id == 3,
          'col-sm-6 col-lg-4 col-xl-3 category-1': productCategory.id == 4,
          'col-md-4 col-xl-3 category-2': productCategory.id == 5,
          'col-md-8 col-xl-6 category-3': productCategory.id == 6,
          'col-sm-6 col-lg-4 col-xl-3 category-1': productCategory.id == 7,
          'col-sm-6 col-lg-4 col-xl-3 category-2': productCategory.id == 8
        }" -->
        <div class="__item" data-x="1" data-y="1">
          <figure class="__image">
            <img [src]="imageUrl+'/'+gallery.image" alt="demo" />
          </figure>

          <div class="__content">
            <div class="row">
              <div class="col">
                <div class="h4 __title">{{gallery.name}}</div>
              </div>

              <div class="col-auto">
                <a class="__link" [href]="imageUrl+'/'+gallery.image" data-fancybox="gallery-masonry">
                  <i class="fontello-resize"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </isotope-item>
      <!-- end item -->
    </isotope-grid>
    <!-- start gallery -->
    <!-- <div id="gallery-grid-1" class="gallery gallery--grid">
      <div class="row no-gutters js-isotope" data-isotope-options='{
          "itemSelector": ".js-isotope__item",
          "transitionDuration": "0.8s",
          "percentPosition": true,
          "masonry": { "columnWidth": ".js-isotope__sizer" }
        }'>

        <div class="col-12 col-sm-1  js-isotope__sizer"></div> -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3  js-isotope__item  category-2">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/1.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Combo in Bars</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/1.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3  js-isotope__item  category-1">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/2.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Snack Markets</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/2.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-6  js-isotope__item  category-3">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/3.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Beverage Machine</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/3.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3  js-isotope__item  category-1">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/4.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Shop and Markets</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/4.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-md-4 col-xl-3  js-isotope__item  category-2">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/5.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Toys</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/5.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-md-8 col-xl-6  js-isotope__item  category-3">
          <div class="__item" data-x="2" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/6.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Water Machine</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/6.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3  js-isotope__item  category-1">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/7.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Supermarkets</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/7.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->

    <!-- start item -->
    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3  js-isotope__item  category-2">
          <div class="__item" data-x="1" data-y="1">
            <figure class="__image">
              <img src="img/gallery_img/8.jpg" alt="demo" />
            </figure>

            <div class="__content">
              <div class="row">
                <div class="col">
                  <div class="h4 __title">Vending Business</div>
                </div>

                <div class="col-auto">
                  <a class="__link" href="img/gallery_img/8.jpg" data-fancybox="gallery-masonry">
                    <i class="fontello-resize"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
    <!-- end item -->
    <!-- </div>
    </div> -->
    <!-- end gallery -->
  </section>
  <!-- end section -->

</main>
<!-- end main -->