<div id="hero" class="hero" style="background-image: url(assets/img/hero_img/1.jpg);background-color: #2d69b9;">

  <div class="hero__inner not-found">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-7 col-lg-5">
          <div class="hero__title h1"><span>Page not found</span></div>

          <p>
            <img class="img-fluid" src="assets/img/not_found/404.png" alt="404: page not found" />
          </p>

          <p>
            Flagfin Atlantic saury, stonecat beachsalmon, silver dollar South American Lungfish. Reef triggerfish
            dogteeth tetra barreleye springfish chubsucker Pacific hake sea devil New
          </p>

          <p>
            <a class="custom-btn custom-btn--big custom-btn--s3" routerLink="/home">Go to Home page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->


<div id="btn-to-top-wrap" class="compensate-for-scrollbar">
  <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
</div>