<div id="hero" class="hero" style="background-image: url(img/hero_img/1.jpg);background-color: #2d69b9;">

  <div class="hero__inner not-found">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-7 col-lg-5">
          <div class="hero__title h1"><span>Page not found</span></div>

          <p>
            <img class="img-fluid" src="img/404.png" alt="demo" />
          </p>

          <p>
            Flagfin Atlantic saury, stonecat beachsalmon, silver dollar South American Lungfish. Reef triggerfish
            dogteeth tetra barreleye springfish chubsucker Pacific hake sea devil New
          </p>

          <p>
            <a class="custom-btn custom-btn--big custom-btn--s3" routerLink="/home">Go Home page</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->


<div id="btn-to-top-wrap" class="compensate-for-scrollbar">
  <a id="btn-to-top" class="circled" href="javascript:void(0);" data-visible-offset="800"></a>
</div>

<script>
  (function (w, d) {
    var b = d.getElementsByTagName('body')[0],
      s = d.createElement("script"),
      v = !("IntersectionObserver" in w) ? "8.17.0" : "12.3.0",
      o = {
        elements_selector: ".lazy",
        threshold: 500,
        callback_enter: function (element) {

        },
        callback_set: function (element) {

          oTimeout = setTimeout(function () {
            clearTimeout(oTimeout);

            AOS.refresh();
          }, 1000);
        },
        callback_loaded: function (element) {

        },
        callback_error: function (element) {
          element.src = "https://placeholdit.imgix.net/~text?txtsize=21&txt=Image%20not%20load&w=200&h=200";
        }
      };
    s.type = 'text/javascript';
    s.async = true; // This includes the script as async. See the "recipes" section for more information about async loading of LazyLoad.
    s.src = "https://cdn.jsdelivr.net/npm/vanilla-lazyload@" + v + "/dist/lazyload.min.js";
    b.appendChild(s);
    w.lazyLoadOptions = o;

    w.addEventListener('LazyLoad::Initialized', function (event) {
      w.lazyLoadInstance = event.detail.instance;
    }, false);
  }(window, document));
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-2.2.4.min.js"><\/script>')</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="js/main.min.js"></script>