<!-- start main -->
<main role="main">

  <!-- start section -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div *ngIf="product" class="product-single">
            <div class="content-container">

              <div class="row justify-content-xl-between">
                <div class="col-12 col-md-6 col-xl-5">
                  <!-- start gallery -->
                  <div class="__gallery">
                    <div class="js-slick">

                      <figure class="__img">
                        <img [src]="imageUrl+'/'+product.image" width="222" alt="{{product.name}} photo" />
                      </figure>

                    </div>

                  </div>
                  <!-- end gallery -->

                  <div class="spacer py-5 d-md-none"></div>
                </div>

                <div class="col-12 col-md-6">
                  <h3 class="__name">{{product.name}}</h3>

                  <div class="__categories">
                    Category
                    <span>{{getProductCategoryName(product)}}</span>
                  </div>

                  <p>
                    {{product.description}}
                  </p>

                  <div class="spacer py-1"></div>

                  <div class="product-price">
                    <span class="product-price__item product-price__item--new">${{product.price}}</span>
                  </div>

                </div>

                <div class="col-12">
                  <div class="spacer py-5 py-md-10"></div>

                  <!-- start tab -->
                  <div class="tab-container tab-container--hor tab-container--s2">
                    <nav class="tab-nav tab-nav--top">
                      <ul class="tab-nav__list">
                        <li class="tab-nav__item">
                          Description
                        </li>
                      </ul>
                    </nav>

                    <div class="tab-content">
                      <div class="tab-content__item is-visible">
                        <div class="row justify-content-xl-between">
                          <div class="col-12">
                            <h3>Specifications {{product.name}} by Mega Vending</h3>

                            <p>
                              {{product.specification}}
                            </p>

                            <h4>Technical specifications of our {{product.name}}</h4>

                            <div class="info-table info-table--s1">
                              <table>
                                <tbody>
                                  <tr>
                                    <td>Height</td>
                                    <td>{{product.height}}cm</td>
                                  </tr>
                                  <tr>
                                    <td>Width</td>
                                    <td>{{product.width}}cm</td>
                                  </tr>
                                  <tr>
                                    <td>Depth</td>
                                    <td>{{product.depth}}cm</td>
                                  </tr>
                                  <tr>
                                    <td>Weight</td>
                                    <td>{{product.weight}}kg</td>
                                  </tr>
                                  <tr>
                                    <td>Electrical</td>
                                    <td>{{product.electrical}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="spacer py-3 d-md-none"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end tab -->
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- end section -->

  <!-- start section -->
  <section class="section section--bg-img section--bg-gray-2 jarallax" data-speed="0.3" data-img-position="50% 60%"
    style="background-image: url(img/bg_6.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="section-heading section-heading--left">
            <h2 class="__title">Mega<span>Vending</span> Similar Products</h2>
          </div>

          <div class="spacer py-6"></div>

          <ngx-slick-carousel class="goods goods--slider" #slickModal="slick-carousel" [config]="slideConfig"
            (init)="slickInit($event)" (breakpoint)="breakpoint($event)" *ngIf="productList">

            <div ngxSlickItem class="__item" *ngFor="let similarProduct of productList | productCategory: '' :product">
              <div *ngIf="product && similarProduct && similarProduct.id != product.id" class="similar-prod-item">
                <figure class="__image __image--shadow __image--bg-white">
                  <img [src]="imageUrl+'/'+similarProduct.image" alt="demo" />

                  <div class="__btn">
                    <a class="custom-btn custom-btn--medium custom-btn--s3 wide"
                      [routerLink]="'../../'+similarProduct.name+'/'+similarProduct.id">Show
                      More</a>
                  </div>
                </figure>

                <div class="__content">
                  <div class="product-price">
                    <span class="product-price__item product-price__item--new">{{similarProduct.price}}$</span>
                  </div>
                  <h4 class="__title"><a
                      [routerLink]="'../../'+similarProduct.name+'/'+similarProduct.id">{{similarProduct.name}}</a>
                  </h4>
                </div>
              </div>
            </div>

          </ngx-slick-carousel>

        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</main>
<!-- end main -->